<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Scraped Data</title>
</head>
<body>
<h1>Scraped Data Notes</h1>
  <button type="button" name="button" id="scrapedData">Scrape Data</button>
  <button type="button" name="button" id="getItems">Get Data</button>
  <button type="button" name="button" id="deleteAll">Delete All Data</button>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Link</th>
      <tr>
    </thead>
    <tbody>
      <div id="textArea"></div>
    </tbody>
  </table>
</body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/jscripts/scripts.js"></script>
</html>
